<div class="container my-5 py-5">
  <%= link_to root_path, :class => "icon-all my-5 text-decoration-none" do %>
    <i class="fa-solid fa-backward"></i></i> Back
  <% end %>
        
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-success p-2 text-dark bg-opacity-10 rounded p-3 shadow">
        <h3 class='text-center'>New Video</h3>
        <%= render 'form', video: @video %>
      </div>
    </div>
  </div>
</div>
